
.vs/ProjectEvaluation/robotprueba_v1.metadata.v9.bin
.vs/ProjectEvaluation/robotprueba_v1.projects.v9.bin
.vs/ProjectEvaluation/robotprueba_v1.strings.v9.bin
.vs/ROBOTPRUEBA_V1/DesignTimeBuild/.dtbcache.v2
.vs/ROBOTPRUEBA_V1/FileContentIndex/3629b00d-6c97-4dba-9ab3-d6553037fcc9.vsidx
.vs/ROBOTPRUEBA_V1/FileContentIndex/5f6cd146-363d-4e49-983d-4a2f4f3d5086.vsidx
.vs/ROBOTPRUEBA_V1/FileContentIndex/e2f753ca-03cc-4f10-9e91-507bf0a077b4.vsidx
.vs/ROBOTPRUEBA_V1/FileContentIndex/eda3fb7d-1e5c-45ea-ad4f-3a1a3d9f69cb.vsidx
.vs/ROBOTPRUEBA_V1/FileContentIndex/f9c507f1-8ca6-4d13-9509-c41adb725a05.vsidx
.vs/ROBOTPRUEBA_V1/v17/.futdcache.v2
.vs/ROBOTPRUEBA_V1/v17/.suo
.vs/ROBOTPRUEBA_V1/v17/DocumentLayout.backup.json
.vs/ROBOTPRUEBA_V1/v17/DocumentLayout.json
